Host gateway-iris
    hostname 134.226.55.214
    user kistm

host lora-server
    hostname 192.168.5.134
    user kistm
    stricthostkeychecking no
    proxycommand ssh -CY gateway-iris -W %h:%p
    identityfile ~/.ssh/id_rsa

host lora-client
    hostname 192.168.5.109
    user kistm
    stricthostkeychecking no
    proxycommand ssh -CY gateway-iris -W %h:%p
    identityfile ~/.ssh/id_rsa
